* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
  font-display: swap;
}

:root {
  --min-vw: 320px;
  --max-vw: 1024px;

  --background: #070403;
  --color: #F6EDE9;
  --primary: #0839ED;
  --primary-hover: #0831C4;
  --primary-active: #082791;
  --primary-disabled: #575757;
}

main {
  background: var(--background);
  color: var(--color);

  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5rem;
  padding: 5rem;

  overflow-x: hidden;
}

section {
  width: 50%;
  min-width: var(--min-vw);
  max-width: var(--max-vw);
}

.inputs {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.inputs div {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 1rem;
}

.inputs div > * {
  font-size: 1.5rem;
}

.inputs div input,
.inputs div textarea {
  background: var(--background);
  color: var(--color);

  border: 1px solid var(--color);

  padding: .5rem;

  transition: .25s box-shadow;
}

.inputs div input:focus,
.inputs div textarea:focus {
  box-shadow: 0 0 1rem .5rem var(--color);
}

.inputs div textarea {
  resize: none;
}

.inputs button {
  align-self: flex-end;

  padding: .5rem 1rem;

  font-size: 1.5rem;

  background: var(--primary);
  color: var(--color);

  border: none;
  cursor: pointer;

  transition: .25s background;
}

.inputs button:hover {
  background: var(--primary-hover);
}

.inputs button:active {
  background: var(--primary-active);
}

.inputs button:disabled {
  background: var(--primary-disabled);
  cursor: not-allowed;
}

.cards {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  gap: 3rem;

  max-height: 100%;

  overflow-y: auto;
}

.cards .card {
  width: 100%;
  max-width: var(--min-vw);

  min-height: 10rem;

  border: 1px solid var(--color);
  padding: 1rem;

  position: relative;
}

.cards .card-solved {
  color: var(--primary-disabled);
  border: 1px solid var(--primary-disabled);
}

.card-solved .card__solve {
  display: none;
}

.card h2 {
  display: inline-block;
  width: 75%;

  text-overflow: ellipsis;
  overflow: hidden;
}

.card p {
  margin-top: 1rem;

  text-overflow: ellipsis;
  overflow: hidden;
}

.card small {
  position: absolute;

  bottom: 1rem;
  right: 1rem;
}

.card div {
  position: absolute;

  top: 1rem;
  right: 1rem;

  display: flex;
  gap: 1rem;
}

.card div i {
  font-style: normal;

  font-size: 1.25rem;

  cursor: pointer;

  transition: .25s color;
}

.card__close:hover {
  color: red;
}

.card__solve:hover {
  color: greenyellow;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  .cards {
    width: 100%;
    flex-wrap: wrap;
  }
}